<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Token</title>
</head>

<body>
    <div>
        <%= JSON.stringify(locals.auth || {}) %>
    </div>

        <script>
            const localRoot = '<%= locals.localRoot || `http://localhost:3000` %>';

            async function getBrands() {
                if (!localRoot) return null;

                const endpoint = `${localRoot}/brands`;
                const res = await fetch(endpoint);
                const resJSON = await res.json();
                console.log(resJSON);
            }
        </script>
</body>

</html>